.popup-menu{
    box-shadow:0 0 0 1px #150f0d inset,0 0 0 1px #b6bbc1b0,0 0 0 2px #150f0d;
    border-radius:4px;
    background-color:#3f3b3d;
}
.popup-menu .menu-item{
    border-radius:3px;
    background-color:#244518;
    color:#fff;
    border:1px solid #396420;
}
.popup-menu .menu-item.one-step-skill-menu:not(.disabled){
    border:1px solid #14705e;background-color:#104d47
}
.popup-menu .menu-item.one-step-skill-menu:not(.disabled):hover{
    border:1px solid #177f6b;
    background-color:#135751
}
.popup-menu .menu-item.menu-item--red{
    background:#4a0e0e;
    border-color:#831f1f
}
.popup-menu .menu-item.menu-item--red:hover:not(.label):not(.disabled):not(.cooldown-disabled):not(.one-step-skill-menu){
    background:#571010;
    border-color:#8f2222
}
.popup-menu .menu-item.menu-item--debug{
    background:#4a0e0e;
    border-color:orange
}
.popup-menu .menu-item.menu-item--debug:hover:not(.label):not(.disabled):not(.cooldown-disabled):not(.one-step-skill-menu){
    background:#571010;
    border-color:#ffaa0f}
.popup-menu .menu-item.disabled{
    background-color:#081d03
}
.popup-menu .menu-item.cooldown-disabled{
    background-color:#081d03
}
.popup-menu .menu-item:hover:not(.label):not(.disabled):not(.cooldown-disabled):not(.one-step-skill-menu){
    border:1px solid #4f7b21;
    background-color:#2e4f18
}
.popup-menu .s_cost{
    border:1px solid rgba(0,0,0,.3);
    border-radius:3px;
    background-color:rgba(0,0,0,.2);
    color:#add8e6
}
