.loot-window .button-holder .button{background:linear-gradient(to top,#202020,#202020)}  
.loot-window .button-holder .button:before{box-shadow:inset 0 0 1px 1px #202020} 
.loot-window .button-holder .button.want{background:linear-gradient(to top,green,green)}
.loot-window .button-holder .button.want:before{box-shadow:inset 0 0 1px 1px green}
.loot-window .button-holder .button.not{background:linear-gradient(to top,red,red)}
.loot-window .button-holder .button.not:before{box-shadow:inset 0 0 1px 1px red}
.loot-window .button-holder .button.must{background:linear-gradient(to top,lime,lime)}
.content .loot-window .items-wrapper .loot-item-wrapper .button-holder .button.green:not(.pressed){border-color:#9C27B0}


.loot-theme--buttons .loot-window .button-holder .button{background:linear-gradient(to top,#101010,#434343)}
.loot-theme--buttons .loot-window .button-holder .button:before{box-shadow:inset 0 0 1px 1px #cf0a2c}
.loot-theme--buttons .loot-window [data-state=want] .button-holder .button.want{background:linear-gradient(to top,#12210d,#396b29)}
.loot-theme--buttons .loot-window [data-state=want] .button-holder .button.want:before{box-shadow:inset 0 0 1px 1px #7ec568a6}
.loot-theme--buttons .loot-window [data-state=not] .button-holder .button.not{background:linear-gradient(to top,#310b0b,#831f1f)}
.loot-theme--buttons .loot-window [data-state=not] .button-holder .button.not:before{box-shadow:inset 0 0 1px 1px #da6161a6}
.loot-theme--buttons .loot-window [data-state=must] .button-holder .button.must{background:linear-gradient(to top,#101010,#007bff)}
.loot-theme--buttons .content .loot-window .items-wrapper .loot-item-wrapper .button-holder .button.green:not(.pressed){border-color:#101010}
.loot-theme--one-line .loot-window .items-wrapper{max-width:900px}.loot-theme--center .border-window:has(.loot-window){top:50%!important;left:50%!important;transform:translate(-50%,-50%)}










.game-window-positioner .character_wrapper .equipment-wrapper{top: 15%;}
.game-window-positioner .character_wrapper .stats-wrapper{top: 15%;}
.game-window-positioner .character_wrapper .pvp-btn{top: 15%;}
.right-column .inner-wrapper .battle-set-wrapper{top: 15%;}
.game-window-positioner .inventory_wrapper .bags-navigation{top: 15%;}
.game-window-positioner .inventory_wrapper .inventory-grid-bg{top: 15%;}

.gargonem-window{box-shadow: 0 0 1px #010101,0 0 0 1px #9C27B0,0 0 0 2px #0c0d0d,1px 1px 2px 2px #0c0d0d66 !important;}
.gargonem-window-body{padding-bottom: 0 !important; padding-left: 0 !important; padding-right: 0 !important;}
.gargonem-clan-members-online-member:nth-child(odd){background: #303030 !important;}

.button.green, .widget-button.green {
    background-image: linear-gradient(to top, #101010, #101010);
    box-shadow: inset 0 0 1px 1px #9E9E9E, inset 0 0 0 3px #101010;
}

.button.green::before, .widget-button.green::before{box-shadow: inset 0 0 1px 1px #101010};

.button.black,.button:not(.no-hover):not(.disabled):hover:not(.active),.widget-button.black,.widget-button:not(.no-hover):not(.disabled):hover:not(.active),.button.small.green.pressed {
    background-image: linear-gradient(to top, #101010,#101010)!important;
    box-shadow: inset 0 0 1px 1px #cf0a2c,inset 0 0 0 3px #101010 !important;
}

.button.black:before,.button:not(.no-hover):not(.disabled):hover:not(.active):before,.widget-button.black:before,.widget-button:not(.no-hover):not(.disabled):hover:not(.active):before {
    box-shadow: inset 0 0 1px 1px #101010 !important;
}

.button.black.active:before,.button:not(.no-hover):not(.disabled):hover:not(.active).active:before,.widget-button.black.active:before,.widget-button:not(.no-hover):not(.disabled):hover:not(.active).active:before {
    box-shadow: inset 0 0 1px 1px #101010 !important;
}

